{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	<div class="album py-5" id="france">
		<div class="container">
			<h1 class="mb-5">Les chiffres du COVID-19 en France 🇫🇷</h1>
			<hr>
			<p>
				<strong class="text-danger">REMARQUE</strong>
				: Les données sont actualisées chaque jours aux alentours de 20h,
																				             si vous requetez les données pour le jour meme avant 20h,
																				             vous aurez les données du jour d'avant mais ne vous inquiétez pas tout ceci est automatiquement géré par l'API</p>
			<p>Source des données
				<strong>{{ data.FranceGlobalLiveData.0.sourceType }}</strong>
				au
				<strong>{{ data.FranceGlobalLiveData.0.date }}</strong>
			</p>
			<hr>
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				<div class="col">
					<div class="card shadow-sm h-100">
						<div class="card-body">
							<h5 class="card-title">
								<i class="fas fa-hospital"></i>
								Hospitalisation</h5>
							<p class="card-text">
								<small class="text-danger">
									<i class="fas fa-exclamation-triangle"></i>
									<strong>{{ data.FranceGlobalLiveData.0.nouvellesHospitalisations }}</strong>
									nouveau cas au
									<strong>{{ data.FranceGlobalLiveData.0.date }}</strong>
								</small>
							</p>
						</div>
						<h3 class="card-footer bg-warning text-dark mx-2">
							<small>Nombre de personnes actuellement hospitalisée</small>
							{{ data.FranceGlobalLiveData.0.hospitalises }}
							😪
						</h3>
					</div>
				</div>

				<div class="card shadow-sm h-100">
					<div class="card-body">
						<h5 class="card-title">
							<i class="fas fa-heartbeat"></i>
							Réanimation</h5>
						<p class="card-text">
							<small class="text-danger">
								<i class="fas fa-exclamation-triangle"></i>
								<strong>{{ data.FranceGlobalLiveData.0.nouvellesReanimations }}</strong>
								nouveau cas au
								<strong>{{ data.FranceGlobalLiveData.0.date }}</strong>
							</small>
						</p>
					</div>
					<h3 class="card-footer bg-warning text-dark mx-2">
						<small>Nombre de personnes actuellement en réanimation</small>
						{{ data.FranceGlobalLiveData.0.reanimation }}
						😓
					</h3>
				</div>

				<div class="card shadow-sm h-100">
					<div class="card-body">
						<h5 class="card-title">
							<i class="fas fa-heart-broken"></i>
							Décès</h5>
						<p class="card-text">
							<small class="text-danger">
								Décès depuis le début de la pandémie
							</small>
						</p>
					</div>
					<h3 class="card-footer bg-danger text-dark mx-2">
						<small>Nombre total de décès</small>
						<br><br>
						{{ data.FranceGlobalLiveData.0.deces }}
						😥
					</h3>
				</div>

				<div class="card shadow-sm h-100">
					<div class="card-body">
						<h5 class="card-title">
							<i class="fas fa-heartbeat"></i>
							Guéri</h5>
						<p class="card-text">
							<small class="text-danger">
								<i class="fas fa-exclamation-triangle"></i>
								Nombre de personnes guéris depuis le début de la pandémie
							</small>
						</p>
					</div>
					<h3 class="card-footer bg-success text-dark mx-2">Nombre de personnes guéris <br>{{ data.FranceGlobalLiveData.0.gueris }}🙏</h3>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
